{% extends "base.html" %}
{% block content %}
<div class="admin-login-wrapper">
  <h2 class="text-warning mb-3 text-center">Admin Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
</div>
{% endblock %}
